*{
    margin: 0;
    padding: 0;
    font-family: 'Kaushan Script', cursive;
    
}

body{
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

html::-webkit-scrollbar{
    width: 12px;
    background: #191922;
    border-left: #32323d solid 1px;
}
html::-webkit-scrollbar-thumb{
    background: #289FB5;
    border: 2px solid #32323d;
    border-radius: 10px;
}

header{
    background-color: black;
    color: #289FB5;
    font-weight: 500;
    text-transform: uppercase;
}



.img{
    background-image: url('./logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    margin-bottom: 10px;
    height: 100px;
}

.conteiner{
    display: flex;
    flex-direction: row;
}

.conteiner span{
    margin: auto;
    padding-bottom: 20px;
}
.conteiner p{
    text-decoration: none;
    font-weight: 900;
}

a:-webkit-any-link {
    color: #289FB5;
    cursor: pointer;
    text-decoration: none;
    font-weight: bolder;
    
}

@media (min-width: 426px) {
   .img{
    width: 295px;
    height: 80px;
   }

   nav{
    display: flex;
    justify-content: space-between;
   }

   nav span{
    padding-right: 60px;
    padding-top: 15px;
   }
   
}

nav span :hover{
    transition: 1.5s;
    color: black;
    background-color: #289FB5;
    padding: 25px;
    transform: scale(0.8);

}